*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color:white;
  color: 4fe5c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.arrow_container {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrow_left, .arrow_right {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: auto;
    gap: 0.5rem;
    transition: transform ease-in-out 0.5s;  
}


img:hover{
    opacity: .3;
    transition:.3s;
    transform: scale(1.1) rotate(10deg);
}

.svg1 path {
   
  fill: rgb(160,7,7);
}


.svg-animation1{
  animation-name: Arrow1;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count:initial;
}
@keyframes Arrow1 {
    0%{
        transform: translate(-420px);/*x en premier puis y*/
  }
}


.svg2 path {
  fill: rgb(128,128,128);
}
.Arrow2-SVG{
     width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.svg2-animation{
  animation-name: Arrow2;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count:initial;
}
@keyframes Arrow2 {
    0%{
        transform: translate(420px);/*x en premier puis y*/
  }
}